In [13]:
# Ruta del archivo
ruta_archivo = r"C:\Users\glova\OneDrive\Documentos\ejemploternaria.csv"

# Leer el archivo especificando el separador
df = pd.read_csv(ruta_archivo, sep=';')

In [14]:
df

     numero_de_cliente  foto_mes  ganancia
0                 1000    202001      1000
1                 1000    202002      2000
2                 1000    202003      3000
3                 1000    202004      4000
4                 1000    202005      5000
..                 ...       ...       ...
116               4003    202207    117000
117               4003    202208    118000
118               4003    202209    119000
119               4003    202210    120000
120               4003    202211    121000

[121 rows x 3 columns]

In [15]:
# Asegurarse de que las columnas están en el formato correcto
# Asegurar que foto_mes sea un entero
df['foto_mes'] = df['foto_mes'].astype(int)

In [16]:
# Ordenar los datos por cliente y por periodo
df = df.sort_values(by=['numero_de_cliente', 'foto_mes']).reset_index(drop=True)

# Obtener el periodo más reciente
ultimo_periodo = df['foto_mes'].max()

# Crear columnas temporales para verificar la continuidad de registros
df['siguiente_mes'] = df.groupby('numero_de_cliente')['foto_mes'].shift(-1)
df['dos_meses_despues'] = df.groupby('numero_de_cliente')['foto_mes'].shift(-2)

# Condiciones para asignar clase_ternaria
df['clase_ternaria'] = 'CONTINUA'  # Por defecto

# Identificar BAJA+1: cuando no existe el siguiente mes
df.loc[(df['siguiente_mes'].isna()) & (df['foto_mes'] < ultimo_periodo), 'clase_ternaria'] = 'BAJA+1'

# Identificar BAJA+2: cuando no existe dos meses después y el cliente no es BAJA+1
df.loc[
    (df['dos_meses_despues'].isna()) &
    (df['foto_mes'] < ultimo_periodo - 1) &
    (df['clase_ternaria'] != 'BAJA+1'),
    'clase_ternaria'
] = 'BAJA+2'

# Eliminar columnas temporales
df.drop(columns=['siguiente_mes', 'dos_meses_despues'], inplace=True)

# Mostrar resultados para verificar
print(df.head(20))

# Si es necesario guardar los resultados
df.to_csv(r"C:\Users\glova\OneDrive\Documentos\resultado2_ternaria.csv", index=False)

    numero_de_cliente  foto_mes  ganancia clase_ternaria
0                1000    202001      1000       CONTINUA
1                1000    202002      2000       CONTINUA
2                1000    202003      3000       CONTINUA
3                1000    202004      4000       CONTINUA
4                1000    202005      5000       CONTINUA
5                1000    202006      6000       CONTINUA
6                1000    202007      7000       CONTINUA
7                1000    202008      8000       CONTINUA
8                1000    202009      9000       CONTINUA
9                1000    202010     10000       CONTINUA
10               1000    202011     11000       CONTINUA
11               1000    202012     12000       CONTINUA
12               1000    202101     13000       CONTINUA
13               1000    202102     14000       CONTINUA
14               1000    202103     15000       CONTINUA
15               1000    202104     16000       CONTINUA
16               1000    202105     17000       CONTINUA
17               1000    202106     18000       CONTINUA
18               1000    202107     19000       CONTINUA
19               1000    202108     20000       CONTINUA